.modal-3c3bKg {
  .root-SR8cQa {
    background-color: transparent;
    backdrop-filter: blur(5px);

    .topSectionNormal-2-vo2m {
      background-color: rgba(#121212, 0.8);
    }

    .topSectionSpotify-1lI0-P {
      background: rgba(#1db954, 0.8);
    }

    .body-3ND3kc {
      min-height: 300px;
      background-color: rgba(#121212, 0.8);

      .listScroller-2_vlfo {
        padding: 0;

        &::-webkit-scrollbar {
          display: none;
        }

        .listRow-hutiT_ {
          border-radius: 0px;
          margin: 0;
          margin-bottom: 0px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
    }
  }
}
